# database connection
firebase-admin

# embeddings
transformers
torch

# utils
numpy
json5

# RAG helpers
faiss-cpu
langchain

# vector database manager
qdrant-client
chromadb

# env management
python-dotenv

# LLM (Groq)
groq
python-dotenv