# Database connection
firebase-admin

# Embedding & ML
transformers
torch
numpy

# Vector database
qdrant-client

# Utilities
python-dotenv

# RAG / Agents
langgraph
llama-index.llms.openrouter  # for OpenRouter LLM integration
